.test-space {
  background-color: #373737;
  border-radius: 4px;
  border: 1px solid #000;
  height: 300px;
}

.child {
  width: 30px;
  height: 30px;
  background-color: #84ee59;
  margin: 5px;
  border-radius: 4px;
}
